<div class="line"><font size="4px">{{site.name}}</font><br><small>tamilrockers.com</small></div>
<style>
.line{background-color: #308bcf; color: #ffffff; font-weight: bold; padding: 10px 0px 10px 0px; text-align: center; text-decoration: none; margin-bottom: 0px; font-size: small;}
.f {color: #4f4f4f ; background: #f9f9f9; padding-top: 8px; padding-left: 3px; padding-bottom: 2px; font-size: 14px; text-align: left; border-bottom: 1px dotted #afcddc; }
</style>
 <div class="Adz" style=" margin-top: 20px; ">
<div class="cen">
    <section>
      <section class="cen">
       
        <div class="cen">
 
          
        </div>
      </section>
      
      
      <section class="cen">

      
    </section>
  </div>

</div>

