<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video#">
{% assign title = '' %}
    {% if page.layout == 'author' %}
        {% assign title = page.display_name %}
    {% elsif page.title %}
        {% assign title = page.title | append: " | " | append: site.name %}
    {% else %}
        {% assign title = site.title %}
    {% endif %}

    {% assign image = '' %}
    {% if page.image %}
        {% assign image = page.image %}
    {% else %}
        {% assign image = "{{ page.poster }}" %}
    {% endif %}

    {% assign description = '' %}
    {% if page.description %}
        {% assign description = page.description | strip_html | strip_newlines | truncate: 160 %}
    {% else %}
        {% assign description = site.description %}
    {% endif %}

    {% assign url = '' %}
    {% if paginator.page_trail %}
        {% assign url = paginator.first_page_path | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% else %}
        {% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% endif %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} Movie Download - {{ site.name }}</title>
<meta property="description" content="{{ page.title }} Full Movie Download , {{ page.title }} Tamil HD Movie Download TamilRockers, {{ page.title }} Watch Online TamilRockers, {{ page.title }} Movie Download TamilRockers">
<meta property="og:title" content="{{ page.title }} Movie Download - {{ site.name }}" />
<meta property="og:description" content="{{ page.title }} Full Movie Download , {{ page.title }} Tamil HD Movie Download TamilRockers, {{ page.title }} Watch Online TamilRockers, {{ page.title }} Movie Download TamilRockers">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:image" content="{{ page.poster }}" />
<meta property="video:director" content="{{ page.director }}">
<meta property="video:release_date" content="{{ page.date }}">
<meta property="og:video" content="{{ page.video }}">
<meta property="og:video:secure_url" content="{{ page.video }}">
<meta property="og:video:type" content="video/mp4">
<meta property="video:tag" content="{{ page.genre }}">
<meta name="theme-color" content="#141414">

<link rel="stylesheet" href="/assets/css/isai.css">
</head>
<body itemscope itemtype="https://schema.org/Movie">

<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="image" content="{{ page.poster }}">
<meta itemprop="dateCreated" content="{{ page.date }}">
<meta itemprop="genre" content="{{ page.genre }}">
<meta itemprop="director" content="{{ page.director }}">
<meta itemprop="author" content="{{ site.name }}">

<div class="line">
<font size="4px">{{ site.name }}</font>
<br/>
<small>Name Of Quality</small></div>
<div class="bottom" align="center">
Follow our <a href="https://telegram.im/@isaiminidownload?lang=en"><font color="red">Telegram Channel</font></a> & Get Updates and Movies! 
        
		   </div>

<div class="line">Movie Information</div>

<div class="isai" align="left">
<div class="pr">
<img style="margin-left: 7px;" typeof="foaf:Image" src="{{ page.poster }}" width="153px" height="180px" alt="{{ page.title }} ({{ page.year }}) Movie Poster" title="{{ page.title }} ({{ page.year }}) Movie Poster" class="tbl"><table cellspacing="5">

<tbody><tr><td><b>Movie</b></td><td><b>:</b></td><td>{{ page.title }}</td></tr>

<tr><td><b>Year</b></td><td><b>:</b></td><td><a href="/year/{{ page.year }}">{{ page.year }}</td></tr>


<tr><td><b>Director</b></td><td><b>:</b></td><td><a href="/director/{{ page.director }}">{{ page.director }}</a></td></tr>

<tr><td><b>Actor</b></td><td><b>:</b></td><td><a href="/actor/{{ page.actor }}">{{ page.actor }}</a></td></tr>

<tr><td><b>Genres</b></td><td><b>:</b></td><td><a href="/genre/{{ page.genre }}">{{ page.genre }}</a></td></tr>

<tr><td><b>Quality</b></td><td><b>:</b></td><td><a href="/quality/{{ page.quality }}">{{ page.quality }}</a></td></tr>

<tr><td><b>Language</b></td><td><b>:</b></td><td><a href="/language/{{ page.language }}">{{ page.language }}</a></td></tr>

<tr><td><b>Size</b></td><td><b>:</b></td><td>{{ page.size }}</td></tr>


<tr><td><b>Rating</b></td><td><b>:</b></td>

<td>
<span class="imdbRatingPlugin" data-user="ur105755917" data-title="{{ page.imdb }}" data-style="p4">
<a href="https://www.imdb.com/title/{{ page.imdb }}">
</a><img src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_31x14.png" alt=" {{ page.title }} ({{ page.year }}) on IMDb" /></span><script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");</script>
</td>
</tr>

<tr><td><b>Updated</b></td><td><b>:</b></td><td>{{ page.date }}</td></tr>

</tbody></table></div></div>
<div class="line">{{ page.title }} ({{ page.year }})</div>


<div class="f" title="{{ page.title }} (Original)"> <img src="dir.gif" alt="[+]"> <a href="{{ page.video }}">{{ page.title }} (Original)</a></div>

<div class="aut">Page Tags :</div>


<font color="green">
{{ page.title }} Full Movie Download {{ page.title }} HD Movie Download {{ page.title }} Movie H
D Download {{ page.title }} {{ page.language }} Full Movie Free Download Moviesda.in {{ page.title }} Full Movie 1080p HD &amp; 720 HD TamilRockers TamilGun Download {{ page.title }} Full HD Movie isaimini Download {{ page.title }} Mp4 HD Movie Download</font>


<div class="bottom"><a href="/">Home</a>
|
<a href="/contact.xhtml">Contact Us</a>
|
 <a href="/dmca.xhtml">DMCA</a></div>

<div class="line"> © {{ site.name }}<br/>All Right Reserved</div>
	
	

	
</body>
</html>
