<!DOCTYPE html>
<html>
<head>
<title>{{site.title}}</title>
<meta http-equiv="last-modified" content="{{ site.time | date_to_xmlschema }}">
<meta name="description" content="{{site.description}}">
<meta name="keywords" content="isaimini, moviesda, kothamovies, jiorockers, tamilrockers, tamilmv, tamilblasters, tamilvaathi, tamilgun, tamilyogi, isaitamil, playtamil, masstamilan, starmusic, hotstar, disney">
<meta property="og:site_name" content="{{site.name}}">
<meta property="og:title" content="{{site.title}}">
<meta property="og:description" content="{{site.description}}">
<meta property="og:url" content="{{site.url}}">
<meta property="og:image" content="/favicon.ico">
<meta charset="UTF-8" />
<meta name="google" content="notranslate" />
<meta http-equiv="Content-Language" content="en_US" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta name="Rating" content="General">
<meta name="audience" content="all">
<meta name="theme-color" content="#0085ef">
<meta name="msapplication-TileColor" content="#0085ef">
<meta name="mobile-web-app-capable" content="yes">
<meta itemprop="isFamilyFriendly" content="true">
<meta itemprop="copyrightYear" content="{{ 'now' | date: "%Y" }}">
<meta name="clickaine-site-verification" content="a2654d1f84267a57005449f5e0cd9d4fb431da3cb9ce1f5b345c61b467d9bc2e2dc23ea77c8bb692a8ec24c54aff110f8e59e8d6e34936cfe86cd915fdfd54b5">
<meta name="google-site-verification" content="VT3FA1mIjtAO3LpXrohFYkj39_GxACEkPPp0ixDgEvU" />
<link rel="stylesheet" media="all" href="/assets/css/mass.css" />  
<link rel="alternate" type="application/rss+xml" title="{{site.name}} RSS Feed" href="/feed.xml">
<link rel="shortcut icon" href="/favicon.ico">
<link href="{{site.url}}" rel="canonical" />
         <script async custom-element="amp-timeago" src="https://cdn.ampproject.org/v0/amp-timeago-0.1.js"></script>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
     <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.url }}"
      },
      "headline": "{{ site.title }}",
      "image": "{{ site.url }}/favicon.ico",
      "datePublished": "{{ site.time }}",
      "dateModified": "{{ site.time }}",
      "author": {
        "@type": "Website",
        "name": "{{ site.name }}",
        "url": "{{ site.url }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ site.name }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.url }}/favicon.ico"
        }
      }
    }
    </script>
</head>
<body class="light">
     <script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',3850950,document.body||document.documentElement)</script>
     {% include line.html %}
     <noscript> <span>
          <span>    Enable Javascript To View This Page </span>
          <style>
               .box{display:none; !important}
          </style>
     </noscript>
  <div class="box cen">
       
<section class="bots ib">
  
  <div class="home-page">
       
       
       <div class="tamilmv" style=" text-align: left; background: white; ">
       {% for post in site.posts limit:20 %} 
            <a style="color: black;text-decoration: none;" href="{{ BASE_PATH }}{{ post.url }}">
 <li style="padding: 10px;display: block;border-bottom-width: 1px; border-bottom-style: solid;border-color: rgba(0,0,0,0.15);">

     <span style=" font-weight: 600; font-family: system-ui;">{{ post.title }}</span>
     
<br>
<span style="font-weight: normal;font-family: system-ui;color: green;">By {{ site.name }}</span> - <amp-timeago style="width: 160px;height: 20px;margin-bottom: -5px;" width="160" height="20" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_xmlschema }}</amp-timeago>
</li>
                      </a>
{% endfor %}  
            </div>
       
       
       
       
       
       
    <div class="botlist">
   {% include massrecent.html %}
</div>
</div>
    
     
     
     
</section>
        
 
  </div>
  
  
<p class="cen">
With ♥ from {{site.name}} Team - {{ 'now' | date: "%Y" }}.
</p>
</body>
</html>
